//
//  mugmover.xcconfig
//  
//
//  Created by Bob Fitterman on 1/3/15.
//  Copyright (c) 2015 Dicentra LLC. All rights reserved.
//

#include "secrets.xcconfig"

GCC_PREPROCESSOR_DEFINITIONS = MUGMOVER_FLICKR_API_KEY_MACRO=$(MUGMOVER_FLICKR_API_KEY_CONSTANT) MUGMOVER_FLICKR_SHARED_SECRET_MACRO=$(MUGMOVER_FLICKR_SHARED_SECRET_CONSTANT) MUGMOVER_SMUGMUG_API_KEY_MACRO=$(MUGMOVER_SMUGMUG_API_KEY_CONSTANT) MUGMOVER_SMUGMUG_SHARED_SECRET_MACRO=$(MUGMOVER_SMUGMUG_SHARED_SECRET_CONSTANT)

