<div class="row" style="margin: 1em;" ng-show="photo.id">
  <div class="col-xs-8">
    <div class="btn-group" role="group" aria-label="Control what is displayed">
      <a id="photoButton" class="btn btn-default" ui-sref="edit({id: photo.id})">
        {{xlate('photoButton')}}
      </a>
      <a id="detailsButton" class="btn btn-default" ui-sref="detail({id: photo.id})">
        {{xlate('detailsButton')}}
      </a>
    </div>
    <div id="restoreGroup" class="btn-group">
      <button id="restoreButton" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
              aria-expanded="false">
        {{xlate('restoreButton')}}
        <span class="caret"></span>
      </button>
      <ul id="restoreFaces" class="dropdown-menu" role="menu" style="opacity: 0.6;">
        <li role="presentation" 
            ng-repeat="face in faces" 
            ng-mouseenter="face.hovering = true"
            ng-mouseleave="face.hovering = false"
            ng-if="face.deleted==true" >
          <a role="menuitem" 
             ng-click="restoreFace(face)" 
             tabindex="-1" href="#">{{face.text || '(' + xlate('unknown') + ')'}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-flag pull-right" 
          style="font-size: 140%;" 
          title="{{xlate('markPhoto')}}"
          aria-label="not flagged"></span>
  </div>
</div>
