<div class="row" style="margin: 1em;" ng-show="photo.id">
  <div class="col-xs-8">
  </div>
  <div class="col-xs-4">
    <span class="glyphicon glyphicon-unchecked pull-right" 
          style="font-size: 200%;" 
          ng-show="(photo.id % 2) == 0"
          title="{{xlate('markPhoto')}}"
          aria-label="not marked"></span>
    <span class="glyphicon glyphicon-check pull-right" 
          style="font-size: 200%;" 
          ng-hide="(photo.id % 2) == 0"
          title="{{xlate('markPhoto')}}"
          aria-label="not marked"></span>
  </div>
</div>
