<div class="row">
  <div class="col-xs-2">
    <img  class="thumbnail circle"  style="height: 110px; width: 110px; margin-bottom: 0;"
          ng-src="{{name.thumbnail}}" title="{{name.publicName}}" />
  </div>
  <div class="col-xs-10">
    <h3>{{name.privateName}}</h3>
    {{name.note}}
  </div>
</div>
<div class="row">
  <div class="col-xs-2">
    <img  class="thumbnail circle"  style="height: 110px; width: 110px; margin-bottom: 0;"
          ng-src="{{name.thumbnail}}" title="{{name.publicName}}" />
  </div>
  <div class="col-xs-10">
    <h3>{{name.privateName}}</h3>
    {{name.note}}
  </div>
</div>
