<div id="photobar-container" class="row">
  <div id="photobar">
    <a ng-repeat="photo in photos" ui-sref="photo.edit({id: photo.id})">
      <div class="photothumb unselected" ng-style="{'background-image': 'url(\'' + photo.thumb + '\')', top: '27px', 
        left: indexX(photo) + 'px'}">
      </div>
    </a>
  </div>
</div>
<div style="display:none">
      -# TODO  There was code here to make sure it doesn't show the same photo twice:
      -#  <% if ($('.photothumb[phid=' + photo.get('id') + ']').length == 0) { %>
      -#     phw="<%- photo.get('scaled_w') %>" phh="<%- photo.get('scaled_h') %>"  phid="<%- photo.get('id') %>">
      -# <% var rightX = $('#photobar-container').scrollLeft() + $('#photobar-container').width(); %>
      -# <% var rightN = Math.floor(x2i(rightX) / photosPerRequest); %>
      -# <% var currentN = Math.floor(photos[photos.length-1].get('index') / photosPerRequest); %>
      -# <% if ((currentN < rightN) && (currentN < lastRequestN)) { %>
      -# <% photoList.render({a_id: '#{params[:a_id]}', n: currentN + 1}); %>
      -# <% }; %>
</div>

<div ui-view="display">
</div>
