<nav class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar" type="button">
      <span class="sr-only">
        Toggle navigation
      </span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">
      mugmarker
    </a>
  </div>
  <div class="navbar">
    <ul class="nav navbar-nav">
      <li>
        <a ui-sref="photos.edit({id: 4})">
          {{xlate('photos')}}
        </a>
      </li>
      <li>
        <a ui-sref="names.list()">
          {{xlate('people')}}
        </a>
      </li>
    </ul>
    <div class="nav navbar-nav navbar-left" ui-view="navspecific" style="padding-top: 0.5em; ">
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
          menu
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="#">
              Settings
            </a>
          </li>
          <li>
            <a href="#">
              Log In
            </a>
          </li>
          <li>
            <a href="#">
              Log Out
            </a>
          </li>
          <li class="dropdown"></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
