<div ng-include src="'/templates/controls.html'">
</div>

<div class="row"
  <div class="col-xs-8">
    <div id="photo-container">
      <img  id="photo-img" 
            class="img-responsive" 
            ng-src="{{photo.url}}"
            ng-click="addFaceAt($event.offsetX, $event.offsetY)"
            ng-style="{ 'background-repeat': 'no-repeat', 
                        'background-size' : 'contain',
                        'background-image': 'url(' + photo.thumb + ')' }" />
      <div id="face-frame-container">
        <div  class="face-frame"
              ng-repeat="face in photo.faces"
              ng-show="face.hovering || (!face.deleted)"
              mm-movable="face"
              mm-movable-behavior="move"
              mm-movable-containment="{top: -8 , left:  -15.5, width: 1000, height: 1000}"
              mm-movable-photo="photo"
              ng-mouseenter="setHoverFace(face)"
              ng-mouseleave="setHoverFace(null)"
              ng-style="{ width: face.scaledW(), height: face.scaledH(), 
                          left: face.scaledX(), top: face.scaledY(), 
                          cursor: (face.manual ? 'move' : 'default')}">
        <div  class="deleteControl"
              ng-style="{position: relative}"
              ng-click="confirmFaceDeletion(face)">
          <span class="glyphicon glyphicon-remove"
                aria-label="{{xlate('deleteFace')}}"
                title="{{xlate('deleteFace')}}"></span>
        </div>
        <form class="name-display-form"
              ng-style="{top: face.scaledH()}">
          <input  class="name-display-box form-control input-sm ellipsis"
                  type="text"
                  readonly
                  placeholder="Unknown"
                  ng-model="face.text"
                  ng-show="(face === hoverFace)" />
        </form>
        <div class="handle"
             ng-if="face.manual"
             mm-movable="face"
             mm-movable-behavior="resize"
             mm-movable-photo="photo"
             mm-movable-containment="{top: (face.w / 2) + 10, left: (face.h / 2) + 10, width: 400, height: 400}"
             mm-comment="8 in the next line is the 'magic_adjustment_factor'"
             ng-style="{position: relative, top: face.handleY(), left: face.handleX()}"
           &nbsp;
        </div>

    </div>
  </div>
</div>  