// For now, these must by synchronized with their counterparts in the haml/erb world.
$thumbsize:                   50;
$faceFrameBorderColor:        #39f;
$faceFrameUnknownColor:       #e87400;
$borderRadius:                2px;
$borderWidth:                 2px;
$iconPixelDim:                16px;
$handleWidth:                 10px;
$thumbBorderWidth:            1px;
$thumbsizeWithBorder:         $thumbsize + $borderWidth;

body > .container
              {
                // padding-top: 60px;
              }

.icon-control span
              {
                background-color: $faceFrameBorderColor;
                border: 0.13 * $iconPixelDim solid rgba(0, 0, 0, 0);
                border-radius: 50%; 
                color: white; 
                cursor: pointer;
                font-size: 0.72 * $iconPixelDim;
                height: $iconPixelDim;
                left: -(($iconPixelDim / 2) + $borderWidth);
                position: absolute;
                top: -(($iconPixelDim / 2) + $borderWidth);
                width: $iconPixelDim;
                z-index: 2;
              }
.face-frame.unknown .icon-control span
              {
                background-color: $faceFrameUnknownColor;
              }
.icon-control span:hover, .face-frame.unknown .icon-control span:hover
              {
                background-color: #c00;
              }

.ellipsis     {
                overflow-x: hidden; 
                text-overflow: ellipsis; 
                white-space: nowrap;
              }
.face-frame   {
                border: 2px solid $faceFrameBorderColor; 
                border-radius: $borderRadius;
                position: absolute; 
                z-index: 110; 
              }
.face-frame.unknown
              {
                border-color: $faceFrameUnknownColor;  
              }              
.handle       {
                background-color: $faceFrameBorderColor;
                border-radius: $handleWidth / 2;
                cursor: nwse-resize;
                height: $handleWidth;
                position: absolute;
                width: $handleWidth;
                z-index: 150;
              }
.face-frame.unknown .handle
              {
                background-color: $faceFrameUnknownColor;
              }
#name         { 
                border-radius: $borderRadius;
                position: absolute;
                white-space: nowrap;
                z-index: 200; 
              }
#name-display-box:hover
              {
                cursor: pointer;
              }
.name-display-form
              {
                position: relative;
                width:  20em;
              }
.name-note    {
                font-size: 70%;
              }    
#names-container
              {
                background-color: #444; 
                color: white; 
                font-size: 1.0em; 
                overflow-x: hidden;
                padding-left: 15px; /* Something about Bootstrap requires this explicit setting */
                padding-right: 15px;
                position: relative; /* This causes the offset reporting for the names to be relative to 0. */
              }
#names-container .row
              {
                cursor: pointer;
              }
#names-container .row.withfocus
              {
                color:  $faceFrameBorderColor;
              }
#names-container .row:hover
              {
                color:  $faceFrameBorderColor;
              }
#photo-container
              {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                max-height: 500px;
                max-width: 500px;
              }
#photo-img    {
                cursor: crosshair;
                max-height: 500px;
                max-width: 500px;
                position: absolute;
                top: 0;
                z-index: 1;
              }
#photobar     {
                position:relative;
              }
#photobar-container
              {
                zoom: 50%;
                background: black;
                border: 6px solid black;
                border-radius: 10px;
                height: 130px; 
                margin-top: 10em;
                overflow-y: scroll;
                white-space: nowrap;
              }
#photobar-container:hover
              {
                margin-top: 5em;
                zoom: 50%;
                z-index: 200;
              }
#photobar-container::-webkit-scrollbar 
              {
                height: 5px; 
                width: 0px; 
                -webkit-appearance: none; 
              }
#photobar-container::-webkit-scrollbar-track 
              {
                background-color: rgba(0, 0, 0, .2);  
                border: 5px solid silver; 
              }
#photobar-container::-webkit-scrollbar-thumb 
              { 
                border-radius: 4px; 
                background-color: rgba(0, 0, 0, 0.4); 
              }
.photothumb   { 
                background-position: center; 
                background-repeat: no-repeat;
                background-size: contain; 
                display: inline-flex; 
                height: $thumbsizeWithBorder;
                position: absolute;
                top: 27px;
                width: $thumbsizeWithBorder;
                z-index: 2;
              }
.photothumb:hover
              {
                width: 2 * $thumbsizeWithBorder;
                height: 2 * $thumbsizeWithBorder;
                opacity: 1.0;
                z-index: 3;
              }
.photothumb:hover > img
              {
                position: relative;
                zoom: 200%;
              }
.photothumb > img
              {
                margin: auto;
                border: $thumbBorderWidth solid white;
              }
#restore-faces 
              {
                background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
              }
#restore-faces a:hover
              {
                background-color: rgba(255, 255, 255, 0.6);
              }
.selected     { background-color: black; opacity: 1.0; }
.unselected   { opacity: 0.6; }
