// For now, these must by synchronized with their counterparts in the haml/erb world.
$thumbsize:                   50;
$faceFrameBorderColor:        #39f;
$borderWidth:                 2px;
$iconPixelDim:                16px;
$handleWidth:                 10px;
$thumbsizeWithBorder:         $thumbsize + $borderWidth;


.deleteControl span
              {
                background-color: $faceFrameBorderColor;
                border: 0.14 * $iconPixelDim solid rgba(0, 0, 0, 0);
                border-radius: 50%; 
                color: white; 
                cursor: pointer;
                font-size: 0.75 * $iconPixelDim;
                height: $iconPixelDim;
                left: -(($iconPixelDim / 2) + $borderWidth);
                position: absolute;
                top: -(($iconPixelDim / 2) + $borderWidth);
                width: $iconPixelDim;
              }
.deleteControl span:hover
              {
                background-color: #c00;
              }
.ellipsis     {
                overflow-x: hidden; 
                text-overflow: ellipsis; 
                white-space: nowrap;
              }
.face-frame   {
                border: 2px solid $faceFrameBorderColor; 
                position: absolute; 
                z-index: 110; 
              }
.handle       {
                background-color: $faceFrameBorderColor;
                border-radius: $handleWidth / 2;
                cursor: nwse-resize;
                height: $handleWidth;
                position: absolute;
                width: $handleWidth;
                z-index: 150;
              }
#name         { 
                z-index: 108; white-space: nowrap; position: absolute;
              }
#name-display-box:hover
              {
                cursor: pointer;
              }
.name-display-form
              {
                position: relative;
                width:  20em;
              }
.name-note    {
                font-size: 70%;
              }    
#names-container
              {
                background-color: #444; 
                color: white; 
                font-size: 1.0em; 
                overflow-x: hidden;
                padding-left: 15px; /* Something about Bootstrap requires this explicit setting */
                padding-right: 15px;
                position: relative; /* This causes the offset reporting for the names to be relative to 0. */
              }
#names-container .row
              {
                cursor: pointer;
              }
#names-container .row.withfocus
              {
                background-color: black;
                color:  $faceFrameBorderColor;
              }
#names-container .row:hover
              {
                background-color: red;
                color:  $faceFrameBorderColor;
              }
#photo-container
              {
                position: relative;
              }
#photo-img    {
                cursor: crosshair;
                left: 0;
                max-height: 500px;
                max-width: 500px;
                position: absolute;
                top: 0;
                z-index: 1;
              }
#photobar     {
                position:relative;
              }
#photobar-container
              {
                height: 118px; 
                overflow-y: scroll;
                white-space: nowrap;
                background: black;
              }
#photobar-container::-webkit-scrollbar 
              {
                height: 10px; 
                width: 0px; 
                -webkit-appearance: none; 
              }
#photobar-container::-webkit-scrollbar-track 
              {
                background-color: rgba(0, 0, 0, .2);  
                border: 10px solid silver; 
              }
#photobar-container::-webkit-scrollbar-thumb 
              { 
                border-radius: 8px; 
                background-color: rgba(0, 0, 0, 0.4); 
              }
.photothumb   { 
                background-position: center; 
                background-repeat: no-repeat;
                background-size: contain; 
                display: inline-flex; 
                height: $thumbsizeWithBorder;
                position: absolute;
                top: 27px;
                width: $thumbsizeWithBorder;
                z-index: 2;
              }
.photothumb:hover
              {
                width: 2 * $thumbsizeWithBorder;
                height: 2 * $thumbsizeWithBorder;
                opacity: 1.0;
                z-index: 3;
              }
.photothumb:hover > img
              {
                position: relative;
                max-height: 2 * $thumbsizeWithBorder;
                max-width: 2 * $thumbsizeWithBorder;
              }
.photothumb > img
              {
                max-height: $thumbsizeWithBorder;
                max-width: $thumbsizeWithBorder;
                margin: auto;
                border: 2px solid white;
              }
#restore-faces 
              {
                background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6));
              }
#restore-faces a:hover
              {
                background-color: rgba(255, 255, 255, 0.6);
              }
.selected     { background-color: black; opacity: 1.0; }
.unselected   { opacity: 0.6; }
